body{
  background-color: $black;
  color:$white;
}
.card{
  p{
    color:$black;
  }
  h5{
    text-shadow: 2px 2px 4px $black;
    color:white;
  }
  margin-bottom: 20px;
}
.video-item{
  margin-bottom: 20px;
}
.episode-container{
  background-color: rgba(0,0,0,0.7);
  padding-top: 20px;
  padding-bottom: 20px;
}
.breadcrumb{
  margin-top: 20px;
  background-color: black;
}
