<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>starwars</title>
      <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/js/starwars-lib.js"></script>
  <script type="text/javascript" src="/js/starwars.js"></script>
</html>
